<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listSource</key>
	<array>
		<dict>
			<key>actions</key>
			<array>
				<string>#晒妆容</string>
				<string>求夸</string>
			</array>
			<key>comment</key>
			<string>253</string>
			<key>content</key>
			<string>本仙女发大招啦，求夸三连！</string>
			<key>desc</key>
			<string>4分钟前.来自通讯录二度关系圈子</string>
			<key>icon</key>
			<string>https://f.msup.com.cn/07ae2565138eafe695ff029014d944b7.png</string>
			<key>like</key>
			<string>13</string>
			<key>name</key>
			<string>妮妮小丸子</string>
			<key>pic</key>
			<string>https://f.msup.com.cn/07ae2565138eafe695ff029014d944b7.png</string>
		</dict>
		<dict>
			<key>content</key>
			<string>你P图水平不太行，照片还没本人好看</string>
			<key>icon</key>
			<string>https://f.msup.com.cn/07ae2565138eafe695ff029014d944b7.png</string>
			<key>level</key>
			<string>青铜V</string>
			<key>like</key>
			<string>12</string>
			<key>name</key>
			<string>我</string>
			<key>reply</key>
			<array>
				<dict>
					<key>content</key>
					<string>是手机不太行，记录不了你的美</string>
					<key>name</key>
					<string>博彦</string>
				</dict>
				<dict>
					<key>content</key>
					<string>你说的好假，我好喜欢</string>
					<key>name</key>
					<string>小妮子花花</string>
				</dict>
				<dict>
					<key>content</key>
					<string>是手机不太行，记录不了你的美</string>
					<key>name</key>
					<string>博彦</string>
				</dict>
			</array>
			<key>time</key>
			<string>3分钟前</string>
		</dict>
		<dict>
			<key>content</key>
			<string>你P图水平不太行，照片还没本人好看</string>
			<key>icon</key>
			<string>https://f.msup.com.cn/07ae2565138eafe695ff029014d944b7.png</string>
			<key>level</key>
			<string>青铜V</string>
			<key>like</key>
			<string>12</string>
			<key>name</key>
			<string>我</string>
			<key>reply</key>
			<array>
				<dict>
					<key>content</key>
					<string>是手机不太行，记录不了你的美</string>
					<key>name</key>
					<string>博彦</string>
				</dict>
				<dict>
					<key>content</key>
					<string>你说的好假，我好喜欢</string>
					<key>name</key>
					<string>小妮子花花</string>
				</dict>
				<dict>
					<key>content</key>
					<string>是手机不太行，记录不了你的美</string>
					<key>name</key>
					<string>博彦</string>
				</dict>
			</array>
			<key>time</key>
			<string>3分钟前</string>
		</dict>
	</array>
	<key>title</key>
	<string>ta的动态</string>
</dict>
</plist>
