<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>history</key>
	<array>
		<string>琅琊榜</string>
		<string>猫和老鼠</string>
	</array>
	<key>list</key>
	<dict>
		<key>data</key>
		<array>
			<dict>
				<key>data1</key>
				<string>data1</string>
				<key>data2</key>
				<string>data2</string>
			</dict>
			<dict>
				<key>data1</key>
				<string>data1</string>
				<key>data2</key>
				<string>data2</string>
			</dict>
			<dict>
				<key>data1</key>
				<string>data1</string>
				<key>data2</key>
				<string>data2</string>
			</dict>
			<dict>
				<key>data2</key>
				<string>data2</string>
				<key>data1</key>
				<string>data1</string>
			</dict>
			<dict>
				<key>data1</key>
				<string>data1</string>
			</dict>
			<dict>
				<key>data2</key>
				<string>data2</string>
			</dict>
			<dict>
				<key>data1</key>
				<string>data1</string>
			</dict>
			<dict>
				<key>data3</key>
				<string>ad</string>
				<key>data1</key>
				<string>data1</string>
			</dict>
		</array>
	</dict>
	<key>searchBar</key>
	<dict>
		<key>placeholder</key>
		<string>搜索想看的视频</string>
		<key>showCancel</key>
		<false/>
		<key>text</key>
		<string>我是text</string>
	</dict>
	<key>info</key>
	<array>
		<dict>
			<key>info1</key>
			<string>我是info1</string>
		</dict>
		<dict>
			<key>info2</key>
			<string>info2</string>
		</dict>
		<dict>
			<key>info3</key>
			<string>info3</string>
		</dict>
	</array>
	<key>weight</key>
	<real>7.2</real>
	<key>age</key>
	<string>1600163918421</string>
	<key>title</key>
	<string>我是title</string>
</dict>
</plist>
